<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的工具集</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="DUtils" />
    <meta name="theme-color" content="#f4f7f6" >
    <meta name="google" content="notranslate" >
    <link rel="apple-touch-icon" href="https://u.199311.xyz/favicon.ico" />
    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" href="static/index.css">
    <script src="static/vue.global.prod.js"></script>
</head>
<body id="app">
    <div class="container" v-cloak>
        <header>
            <div class="search-container">
                <select v-model="selectedSearchEngine" class="search-select" @change="searchChange">
                    <option v-for="search in config.searchs" :key="search.name" :value="search.url">
                        {{ search.name }}
                    </option>
                </select>
                <input type="text" v-model="searchQuery" @keyup.enter="performSearch" placeholder="输入关键字搜索..." class="search-input">
                <button @click="performSearch" class="search-button">搜索</button>
                <button @click="searchQuery = ''" class="search-button danger">清</button>
            </div>
            <input type="text" v-model="searchQuery" @keyup.enter="performSearch2" placeholder="github 辅助搜索, 回车确认" class="search-input search-git">
            <input type="text" v-model="searchQuery" @keyup.enter="performSearch3" placeholder="必应 辅助搜索, 回车确认" class="search-input search-git search-by">
        </header>

        <main>
            <div class="main-links" v-show="linkList && linkList.length">
                <section class="site-category">
                    <h2 class="category-title"><span>网站导航</span></h2>
                    <div class="site-list">
                        <a v-for="site in linkList" :key="site.id" :href="site.url" target="_blank" class="site-item" :title="site.name">
                            <div class="site-icon" :style="{ backgroundColor: site.color }">
                                {{ site.sname }}
                            </div>
                            <span class="site-name">{{ site.name }}</span>
                        </a>
                    </div>
                </section>
            </div>
            <div class="main-sites">
                <section v-for="category in config.sites" :key="category.name" class="site-category">
                    <h2 class="category-title"><span>{{ category.name }}</span></h2>
                    <div class="site-list">
                        <a v-for="site in category.list" :key="site.url" :href="site.url" target="_blank" class="site-item" :title="site.name">
                            <div class="site-icon" :style="{ backgroundColor: site.color }">
                                {{ site.short }}
                            </div>
                            <span class="site-name">{{ site.name }}</span>
                        </a>
                    </div>
                </section>
            </div>
        </main>

        <footer>
            <p>{{ config.footer }} <a href="https://github.com/dhjz" style="text-decoration: none;" target="_blank">@dhjz</a></p>
        </footer>
    </div>
    <button @click="toggleDarkMode" class="theme-toggle">
        <span v-if="isDarkMode">🌙</span><span v-else>☀️</span>
    </button>
    <script src="static/poem.js"></script>
    <script src="data.js"></script>
    <script src="static/index.js"></script>
</body>
</html>
